.leave-request-form {
    max-width: 400px;
    margin: auto;
    font-size:medium;
    
  }
  .leave-request-form label {
    display: block;
    margin-bottom: 10px;
  }
  .submit{
    
    font-size: medium;
    
  }
  